@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "cart Page";
}


@section Styles {
    <link rel="stylesheet" href="~/css/cart.css" />
}







<!--Modest section -->
<section class="main-container">

    <div class="reviews-section">
        <div class="review">
            <h2 style="margin-top: unset; margin: 0; font-size: x-large;">Cart (4)</h2>
        </div>
    </div>
    </div>
    <div class="woman-container" style="margin: 0; padding: 0 0;">

        <div class="woman-products">
            <div class="sales-product-list1">
                <div>
                    <span>
                        <h3 style="font-size: x-large;margin: 0vw 6vw; margin-top: 1vw;">👜 Dazy Store</h3>
                    </span>
                    <div class="woman-product" id="twoCol" class="twoParts">

                        <div class="product_Discount">

                            <div class="checkbox-wrapper">
                                <input checked="" type="checkbox" />
                                <svg viewBox="0 0 35.6 35.6">
                                    <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                                    <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                                    <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                                </svg>
                            </div>
                            <img src="/img1/modest1.png" alt="Product 2">
                        </div>
                        <div class="descPrice">
                            <h4>Top of jacket with white Top of jacket with white..</h4>
                            <p class="price">£50.08</p>
                        </div>
                        <div class="chooseQty">
                            <span class="qty-input">
                                <button class="qty-count qty-count--minus" data-action="minus"
                                        type="button">
                                    -
                                </button>
                                <input class="product-qty" type="number" name="product-qty" min="0" max="10"
                                       value="1">
                                <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <span>
                        <h3 style="font-size: x-large;margin: 0vw 6vw; margin-top: 2vw;">👜 Kaiyi Accessory</h3>
                    </span>
                    <div class="woman-product" id="twoCol" class="twoParts">

                        <div class="product_Discount">

                            <div class="checkbox-wrapper">
                                <input checked="" type="checkbox" />
                                <svg viewBox="0 0 35.6 35.6">
                                    <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                                    <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                                    <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                                </svg>
                            </div>
                            <img src="/img1/modest2.png" alt="Product 2">
                        </div>
                        <div class="descPrice">
                            <h4>Top of jacket with white Top of jacket with white..</h4>
                            <p class="price">£50.08</p>
                        </div>
                        <div class="chooseQty">
                            <span class="qty-input">
                                <button class="qty-count qty-count--minus" data-action="minus"
                                        type="button">
                                    -
                                </button>
                                <input class="product-qty" type="number" name="product-qty" min="0" max="10"
                                       value="1">
                                <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <span>
                        <h3 style="font-size: x-large;margin: 0vw 6vw; margin-top: 2vw;">👜 Jewry Store</h3>
                    </span>
                    <div class="woman-product" id="twoCol" class="twoParts">

                        <div class="product_Discount">

                            <div class="checkbox-wrapper">
                                <input checked="" type="checkbox" />
                                <svg viewBox="0 0 35.6 35.6">
                                    <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                                    <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                                    <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                                </svg>
                            </div>
                            <img src="/img1/modest3.png" alt="Product 2">
                        </div>
                        <div class="descPrice">
                            <h4>Top of jacket with white Top of jacket with white..</h4>
                            <p class="price">£50.08</p>
                        </div>
                        <div class="chooseQty">
                            <span class="qty-input">
                                <button class="qty-count qty-count--minus" data-action="minus"
                                        type="button">
                                    -
                                </button>
                                <input class="product-qty" type="number" name="product-qty" min="0" max="10"
                                       value="1">
                                <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <span>
                        <h3 style="font-size: x-large;margin: 0vw 6vw; margin-top: 2vw;">👜 Dazy Store</h3>
                    </span>
                    <div class="woman-product" id="twoCol" class="twoParts">

                        <div class="product_Discount">

                            <div class="checkbox-wrapper">
                                <input checked="" type="checkbox" />
                                <svg viewBox="0 0 35.6 35.6">
                                    <circle class="background" cx="17.8" cy="17.8" r="17.8"></circle>
                                    <circle class="stroke" cx="17.8" cy="17.8" r="14.37"></circle>
                                    <polyline class="check" points="11.78 18.12 15.55 22.23 25.17 12.87"></polyline>
                                </svg>
                            </div>
                            <img src="/img1/modest4.png" alt="Product 2">
                        </div>
                        <div class="descPrice">
                            <h4>Top of jacket with white Top of jacket with white..</h4>
                            <p class="price">£50.08</p>
                        </div>
                        <div class="chooseQty">
                            <span class="qty-input">
                                <button class="qty-count qty-count--minus" data-action="minus"
                                        type="button">
                                    -
                                </button>
                                <input class="product-qty" type="number" name="product-qty" min="0" max="10"
                                       value="1">
                                <button class="qty-count qty-count--add" data-action="add" type="button">+</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div><br>

    <div style="display: grid; grid-template-columns: auto auto;">

        <div class="nextStores1">
            <div class="nextStores1">
                <div>
                    <div class="checkbox-wrapper">
                        <input type="checkbox" checked="" />
                        <svg viewBox="0 0 35.6 35.6">
                            <circle r="17.8" cy="17.8" cx="17.8" class="background"></circle>
                            <circle r="14.37" cy="17.8" cx="17.8" class="stroke"></circle>
                            <polyline points="11.78 18.12 15.55 22.23 25.17 12.87" class="check"></polyline>
                        </svg>
                    </div>
                </div>
                <p class="totalPrice" class="price">&nbsp; All</p>
            </div>
            <p class="totalPrice" class="price"> £ 500.72</p>

        </div>

        <div class="nextStores2">

            <button class="button2">

                <p class="text">Checkout</p>
            </button>
        </div>
    </div><br>
</section>
<br>
<br>
<br>







@{
    ViewData["Title"] = "cart";
}