@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "wishlist Page";
}


@section Styles {
        <link rel="stylesheet" href="~/css/wishlist.css" />
}







<!--Modest section -->
<section class="main-container">

	<div class="reviews-section">
		<div class="review">
			<h2 style="margin-top: unset; margin: 0; font-size: x-large;">Wish List ❤</h2>
		</div>
	</div>
	</div>
	<div class="woman-container" style="margin: 0; padding: 0 0;">

		<div class="woman-products">
			<div class="sales-product-list" style="
			grid-template-columns: repeat(5, 1fr);
			 gap: 0px;
		">
				<div class="woman-product" id="ff" class="twoParts"
					 style="border: none;grid-template-rows: repeat(1, 1fr);">
					<div class="product_Discount">
						<!-- <div class="discount">-10%</div> -->
						<img style="height: 100%;" src="/img1/modest1.png" alt="Product 2">
					</div>
					<div>
						<h4>ROMWE Kawai...</h4>
						<div>
							<p class="price">£50.08</p>
							<!-- <p>90+ Sold</p> -->
						</div>
						<!-- <p class="rating">★★★★★</p> -->
						<div class="actions">
							<div>
								<button class="button2">
									<p class="text">Add to Cart</p>

								</button>
							</div>
							<div>
								<button class="button2">

									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="18"
										 viewBox="0,0,256,256">
										<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1"
										   stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
										   stroke-dasharray="" stroke-dashoffset="0" font-family="none"
										   font-weight="none" font-size="none" text-anchor="none"
										   style="mix-blend-mode: normal">
											<g transform="scale(16,16)">
												<path d="M6.49609,1c-0.82031,0 -1.49609,0.67578 -1.49609,1.49609v0.50391h-3v1h1v8.5c0,0.82422 0.67578,1.5 1.5,1.5h6c0.82422,0 1.5,-0.67578 1.5,-1.5v-8.5h1v-1h-3v-0.50391c0,-0.82031 -0.67578,-1.49609 -1.49609,-1.49609zM6.49609,2h2.00781c0.28125,0 0.49609,0.21484 0.49609,0.49609v0.50391h-3v-0.50391c0,-0.28125 0.21484,-0.49609 0.49609,-0.49609zM4,4h7v8.5c0,0.28125 -0.21875,0.5 -0.5,0.5h-6c-0.28125,0 -0.5,-0.21875 -0.5,-0.5zM5,5v7h1v-7zM7,5v7h1v-7zM9,5v7h1v-7z">
												</path>
											</g>
										</g>
									</svg>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="woman-product" id="ff" class="twoParts"
					 style="border: none;grid-template-rows: repeat(1, 1fr);">
					<div class="product_Discount">
						<!-- <div class="discount">-10%</div> -->
						<img style="height: 100%;" src="/img1/modest2.png" alt="Product 2">
					</div>
					<div>
						<h4>ROMWE Kawai...</h4>
						<div>
							<p class="price">£50.08</p>
							<!-- <p>90+ Sold</p> -->
						</div>
						<!-- <p class="rating">★★★★★</p> -->
						<div class="actions">
							<div class="actions">
								<div>
									<button class="button2">
										<p class="text">Add to Cart</p>

									</button>
								</div>
								<div>
									<button class="button2">

										<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="18" viewBox="0,0,256,256">
											<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(16,16)"><path d="M6.49609,1c-0.82031,0 -1.49609,0.67578 -1.49609,1.49609v0.50391h-3v1h1v8.5c0,0.82422 0.67578,1.5 1.5,1.5h6c0.82422,0 1.5,-0.67578 1.5,-1.5v-8.5h1v-1h-3v-0.50391c0,-0.82031 -0.67578,-1.49609 -1.49609,-1.49609zM6.49609,2h2.00781c0.28125,0 0.49609,0.21484 0.49609,0.49609v0.50391h-3v-0.50391c0,-0.28125 0.21484,-0.49609 0.49609,-0.49609zM4,4h7v8.5c0,0.28125 -0.21875,0.5 -0.5,0.5h-6c-0.28125,0 -0.5,-0.21875 -0.5,-0.5zM5,5v7h1v-7zM7,5v7h1v-7zM9,5v7h1v-7z"></path></g></g>
										</svg>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="woman-product" id="ff" class="twoParts"
					 style="border: none;grid-template-rows: repeat(1, 1fr);">
					<div class="product_Discount">
						<!-- <div class="discount">-10%</div> -->
						<img style="height: 100%;" src="/img1/modest3.png" alt="Product 2">
					</div>
					<div>
						<h4>ROMWE Kawai...</h4>
						<div>
							<p class="price">£50.08</p>
							<!-- <p>90+ Sold</p> -->
						</div>
						<!-- <p class="rating">★★★★★</p> -->
						<div class="actions">
							<div class="actions">
								<div>
									<button class="button2">
										<p class="text">Add to Cart</p>

									</button>
								</div>
								<div>
									<button class="button2">

										<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="18" viewBox="0,0,256,256">
											<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(16,16)"><path d="M6.49609,1c-0.82031,0 -1.49609,0.67578 -1.49609,1.49609v0.50391h-3v1h1v8.5c0,0.82422 0.67578,1.5 1.5,1.5h6c0.82422,0 1.5,-0.67578 1.5,-1.5v-8.5h1v-1h-3v-0.50391c0,-0.82031 -0.67578,-1.49609 -1.49609,-1.49609zM6.49609,2h2.00781c0.28125,0 0.49609,0.21484 0.49609,0.49609v0.50391h-3v-0.50391c0,-0.28125 0.21484,-0.49609 0.49609,-0.49609zM4,4h7v8.5c0,0.28125 -0.21875,0.5 -0.5,0.5h-6c-0.28125,0 -0.5,-0.21875 -0.5,-0.5zM5,5v7h1v-7zM7,5v7h1v-7zM9,5v7h1v-7z"></path></g></g>
										</svg>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="woman-product" id="ff" class="twoParts"
					 style="border: none;grid-template-rows: repeat(1, 1fr);">
					<div class="product_Discount">
						<!-- <div class="discount">-10%</div> -->
						<img style="height: 100%;" src="/img1/modest4.png" alt="Product 2">
					</div>
					<div>
						<h4>ROMWE Kawai...</h4>
						<div>
							<p class="price">£50.08</p>
							<!-- <p>90+ Sold</p> -->
						</div>
						<!-- <p class="rating">★★★★★</p> -->
						<div class="actions">
							<div class="actions">
								<div>
									<button class="button2">
										<p class="text">Add to Cart</p>

									</button>
								</div>
								<div>
									<button class="button2">

										<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="18" viewBox="0,0,256,256">
											<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(16,16)"><path d="M6.49609,1c-0.82031,0 -1.49609,0.67578 -1.49609,1.49609v0.50391h-3v1h1v8.5c0,0.82422 0.67578,1.5 1.5,1.5h6c0.82422,0 1.5,-0.67578 1.5,-1.5v-8.5h1v-1h-3v-0.50391c0,-0.82031 -0.67578,-1.49609 -1.49609,-1.49609zM6.49609,2h2.00781c0.28125,0 0.49609,0.21484 0.49609,0.49609v0.50391h-3v-0.50391c0,-0.28125 0.21484,-0.49609 0.49609,-0.49609zM4,4h7v8.5c0,0.28125 -0.21875,0.5 -0.5,0.5h-6c-0.28125,0 -0.5,-0.21875 -0.5,-0.5zM5,5v7h1v-7zM7,5v7h1v-7zM9,5v7h1v-7z"></path></g></g>
										</svg>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="woman-product" id="ff" class="twoParts"
					 style="border: none;grid-template-rows: repeat(1, 1fr);">
					<div class="product_Discount">
						<!-- <div class="discount">-10%</div> -->
						<img style="height: 100%;" src="/img1/modest5.png" alt="Product 2">
					</div>
					<div>
						<h4>ROMWE Kawai...</h4>
						<div>
							<p class="price">£50.08</p>
							<!-- <p>90+ Sold</p> -->
						</div>
						<!-- <p class="rating">★★★★★</p> -->
						<div class="actions">
							<div class="actions">
								<div>
									<button class="button2">
										<p class="text">Add to Cart</p>

									</button>
								</div>
								<div>
									<button class="button2">

										<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="18" viewBox="0,0,256,256">
											<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(16,16)"><path d="M6.49609,1c-0.82031,0 -1.49609,0.67578 -1.49609,1.49609v0.50391h-3v1h1v8.5c0,0.82422 0.67578,1.5 1.5,1.5h6c0.82422,0 1.5,-0.67578 1.5,-1.5v-8.5h1v-1h-3v-0.50391c0,-0.82031 -0.67578,-1.49609 -1.49609,-1.49609zM6.49609,2h2.00781c0.28125,0 0.49609,0.21484 0.49609,0.49609v0.50391h-3v-0.50391c0,-0.28125 0.21484,-0.49609 0.49609,-0.49609zM4,4h7v8.5c0,0.28125 -0.21875,0.5 -0.5,0.5h-6c-0.28125,0 -0.5,-0.21875 -0.5,-0.5zM5,5v7h1v-7zM7,5v7h1v-7zM9,5v7h1v-7z"></path></g></g>
										</svg>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="woman-product" id="ff" class="twoParts"
					 style="border: none;grid-template-rows: repeat(1, 1fr);">
					<div class="product_Discount">
						<!-- <div class="discount">-10%</div> -->
						<img style="height: 100%;" src="/img1/modest4.png" alt="Product 2">
					</div>
					<div>
						<h4>ROMWE Kawai...</h4>
						<div>
							<p class="price">£50.08</p>
							<!-- <p>90+ Sold</p> -->
						</div>
						<!-- <p class="rating">★★★★★</p> -->
						<div class="actions">
							<div>
								<button class="button2">
									<p class="text">Add to Cart</p>

								</button>
							</div>
							<div>
								<button class="button2">

									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="18"
										 viewBox="0,0,256,256">
										<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1"
										   stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
										   stroke-dasharray="" stroke-dashoffset="0" font-family="none"
										   font-weight="none" font-size="none" text-anchor="none"
										   style="mix-blend-mode: normal">
											<g transform="scale(16,16)">
												<path d="M6.49609,1c-0.82031,0 -1.49609,0.67578 -1.49609,1.49609v0.50391h-3v1h1v8.5c0,0.82422 0.67578,1.5 1.5,1.5h6c0.82422,0 1.5,-0.67578 1.5,-1.5v-8.5h1v-1h-3v-0.50391c0,-0.82031 -0.67578,-1.49609 -1.49609,-1.49609zM6.49609,2h2.00781c0.28125,0 0.49609,0.21484 0.49609,0.49609v0.50391h-3v-0.50391c0,-0.28125 0.21484,-0.49609 0.49609,-0.49609zM4,4h7v8.5c0,0.28125 -0.21875,0.5 -0.5,0.5h-6c-0.28125,0 -0.5,-0.21875 -0.5,-0.5zM5,5v7h1v-7zM7,5v7h1v-7zM9,5v7h1v-7z">
												</path>
											</g>
										</g>
									</svg>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="woman-product" id="ff" class="twoParts"
					 style="border: none;grid-template-rows: repeat(1, 1fr);">
					<div class="product_Discount">
						<!-- <div class="discount">-10%</div> -->
						<img style="height: 100%;" src="/img1/modest5.png" alt="Product 2">
					</div>
					<div>
						<h4>ROMWE Kawai...</h4>
						<div>
							<p class="price">£50.08</p>
							<!-- <p>90+ Sold</p> -->
						</div>
						<!-- <p class="rating">★★★★★</p> -->
						<div class="actions">
							<div>
								<button class="button2">
									<p class="text">Add to Cart</p>

								</button>
							</div>
							<div>
								<button class="button2">

									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="18"
										 viewBox="0,0,256,256">
										<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1"
										   stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
										   stroke-dasharray="" stroke-dashoffset="0" font-family="none"
										   font-weight="none" font-size="none" text-anchor="none"
										   style="mix-blend-mode: normal">
											<g transform="scale(16,16)">
												<path d="M6.49609,1c-0.82031,0 -1.49609,0.67578 -1.49609,1.49609v0.50391h-3v1h1v8.5c0,0.82422 0.67578,1.5 1.5,1.5h6c0.82422,0 1.5,-0.67578 1.5,-1.5v-8.5h1v-1h-3v-0.50391c0,-0.82031 -0.67578,-1.49609 -1.49609,-1.49609zM6.49609,2h2.00781c0.28125,0 0.49609,0.21484 0.49609,0.49609v0.50391h-3v-0.50391c0,-0.28125 0.21484,-0.49609 0.49609,-0.49609zM4,4h7v8.5c0,0.28125 -0.21875,0.5 -0.5,0.5h-6c-0.28125,0 -0.5,-0.21875 -0.5,-0.5zM5,5v7h1v-7zM7,5v7h1v-7zM9,5v7h1v-7z">
												</path>
											</g>
										</g>
									</svg>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="woman-product" id="ff" class="twoParts"
					 style="border: none;grid-template-rows: repeat(1, 1fr);">
					<div class="product_Discount">
						<!-- <div class="discount">-10%</div> -->
						<img style="height: 100%;" src="/img1/modest2.png" alt="Product 2">
					</div>
					<div>
						<h4>ROMWE Kawai...</h4>
						<div>
							<p class="price">£50.08</p>
							<!-- <p>90+ Sold</p> -->
						</div>
						<!-- <p class="rating">★★★★★</p> -->
						<div class="actions">
							<div>
								<button class="button2">
									<p class="text">Add to Cart</p>

								</button>
							</div>
							<div>
								<button class="button2">

									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="18"
										 viewBox="0,0,256,256">
										<g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1"
										   stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10"
										   stroke-dasharray="" stroke-dashoffset="0" font-family="none"
										   font-weight="none" font-size="none" text-anchor="none"
										   style="mix-blend-mode: normal">
											<g transform="scale(16,16)">
												<path d="M6.49609,1c-0.82031,0 -1.49609,0.67578 -1.49609,1.49609v0.50391h-3v1h1v8.5c0,0.82422 0.67578,1.5 1.5,1.5h6c0.82422,0 1.5,-0.67578 1.5,-1.5v-8.5h1v-1h-3v-0.50391c0,-0.82031 -0.67578,-1.49609 -1.49609,-1.49609zM6.49609,2h2.00781c0.28125,0 0.49609,0.21484 0.49609,0.49609v0.50391h-3v-0.50391c0,-0.28125 0.21484,-0.49609 0.49609,-0.49609zM4,4h7v8.5c0,0.28125 -0.21875,0.5 -0.5,0.5h-6c-0.28125,0 -0.5,-0.21875 -0.5,-0.5zM5,5v7h1v-7zM7,5v7h1v-7zM9,5v7h1v-7z">
												</path>
											</g>
										</g>
									</svg>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<br>
<br>
<br>







@{
    ViewData["Title"] = "wishlist";
}